<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products - Lumise</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://demo.lumise.com/assets/css/bootstrap.min.css?version=1.6.4">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://demo.lumise.com/assets/css/owl.carousel.min.css?version=1.6.4">
    <link rel="stylesheet" href="https://demo.lumise.com/assets/css/owl.theme.default.min.css?version=1.6.4">
    <link rel="stylesheet" href="https://demo.lumise.com/assets/css/style.css?version=1.6.4">
    <link rel="icon" href="https://www.lumise.com/assets/images/favicon.png" sizes="80x80" />
    <script src="https://demo.lumise.com/assets/js/jquery.min.js?version=1.6.4"></script>
    <script src="https://demo.lumise.com/assets/js/owl.carousel.min.js?version=1.6.4"></script>
    <script src="https://demo.lumise.com/assets/js/jquery.validate.min.js?version=1.6.4"></script>
    <script src="https://demo.lumise.com/assets/js/main.js?version=1.6.4"></script>
    <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init','1674137849347793');fbq('track','PageView');</script>
</head>
<body>
<header class="header">
    <div class="container">
        <a href="https://demo.lumise.com/" class="logo">
            <img src="https://www.lumise.com/assets/images/logo_new.png" alt="Lumise Product Designer online tool">
        </a>
        <div class="menu">
            <a href="#" class="btn_menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <ul class="main-menu">
                <li><a href="/demo" >Live Demo</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/product">Products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
        <div class="overlay_menu"></div>
        <div class="menu_mobile">
            <a href="https://demo.lumise.com/" class="logo_mobile"><img src="https://www.lumise.com/assets/images/logo_new.png" alt=""></a>
            <a href="#" class="close_menu"><svg enable-background="new 0 0 32 32" height="32px" id="Слой_1" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#777" id="Close"></path><g></g><g></g><g></g><g></g><g></g><g></g></svg></a>
            <ul class="main-menu">
                <li><a href="/demo" >Live Demo</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/product">Products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="lumise-bread">
    <div class="container">
        <h1>Lumise Shop</h1>
    </div>
</div>
<div class="lumise-products">
    <div class="lumise-list">
        <div class="container">
            <form class="" action="products.php" method="get">
                <div class="lumise-filter">
                    <div class="lumise-filter-category_id">
                        <select name="category_id" class="lumise-filter-dropdown">
                            <option value="" selected="selected">-- Categories --</option>
                        </select>
                    </div>
                    <div class="lumise-filter-order">
                        <select name="order" class="lumise-filter-dropdown">
                            <option value="">-- Sortby --</option>
                            <option value="name_asc" selected="selected">Name Asc</option>
                            <option value="name_desc">Name Desc</option>
                            <option value="order_asc">Order Asc</option>
                            <option value="order_desc">Order Desc</option>
                        </select>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="https://demo.lumise.com/product.php?product_id=8">
                            <figure><img src="https://demo.lumise.com/data/thumbnails/bag-thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
                            <div class="content">
                                <h3>Bag</h3>                        <span class="lumise-price">$199.99</span>                    </div>
                        </a>
                        <div class="lumise-action">
                            <a href="https://demo.lumise.com/editor.php?product=8" class="lumise-custom">
                                Customize	                </a>
                        </div>
                    </li>
                    <li>
                        <a href="https://demo.lumise.com/product.php?product_id=10">
                            <figure><img src="https://demo.lumise.com/data/thumbnails/shirt-thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
                            <div class="content">
                                <h3>Basic Tshirt</h3>                        <span class="lumise-price">$99.99</span>                    </div>
                        </a>
                        <div class="lumise-action">
                            <a href="https://demo.lumise.com/editor.php?product=10" class="lumise-custom">
                                Customize	                </a>
                        </div>
                    </li>
                    <li>
                        <a href="https://demo.lumise.com/product.php?product_id=14">
                            <figure><img src="https://demo.lumise.com/data/thumbnails/shirt-thumb2-thumbn.jpg" alt=""><div class="overlay"></div></figure>
                            <div class="content">
                                <h3>Basic Women Tshirt</h3>                        <span class="lumise-price">$169.99</span>                    </div>
                        </a>
                        <div class="lumise-action">
                            <a href="https://demo.lumise.com/editor.php?product=14" class="lumise-custom">
                                Customize	                </a>
                        </div>
                    </li>
                    <li>
                        <a href="https://demo.lumise.com/product.php?product_id=20">
                            <figure><img src="https://demo.lumise.com/data/thumbnails/lumise-media-card-thumbn.jpg" alt=""><div class="overlay"></div></figure>
                            <div class="content">
                                <h3>Business card</h3>                        <span class="lumise-price">$9.00</span>                    </div>
                        </a>
                        <div class="lumise-action">
                            <a href="https://demo.lumise.com/editor.php?product=20" class="lumise-custom">
                                Customize	                </a>
                        </div>
                    </li>
                    <li>
                        <a href="https://demo.lumise.com/product.php?product_id=11">
                            <figure><img src="https://demo.lumise.com/data/thumbnails/cup_thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
                            <div class="content">
                                <h3>Cup</h3>                        <span class="lumise-price">$19.99</span>                    </div>
                        </a>
                        <div class="lumise-action">
                            <a href="https://demo.lumise.com/editor.php?product=11" class="lumise-custom">
                                Customize	                </a>
                        </div>
                    </li>
                    <li>
                        <a href="https://demo.lumise.com/product.php?product_id=17">
                            <figure><img src="https://demo.lumise.com/data/thumbnails/hat-thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
                            <div class="content">
                                <h3>Hat</h3>                        <span class="lumise-price">$68.00</span>                    </div>
                        </a>
                        <div class="lumise-action">
                            <a href="https://demo.lumise.com/editor.php?product=17" class="lumise-custom">
                                Customize	                </a>
                        </div>
                    </li>
                    <li>
                        <a href="https://demo.lumise.com/product.php?product_id=12">
                            <figure><img src="https://demo.lumise.com/data/thumbnails/hoodie_thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
                            <div class="content">
                                <h3>Hoodies Sweatshirt</h3>                        <span class="lumise-price">$229.99</span>                    </div>
                        </a>
                        <div class="lumise-action">
                            <a href="https://demo.lumise.com/editor.php?product=12" class="lumise-custom">
                                Customize	                </a>
                        </div>
                    </li>
                    <li>
                        <a href="https://demo.lumise.com/product.php?product_id=13">
                            <figure><img src="https://demo.lumise.com/data/thumbnails/phonecase_thumb-thumbn.jpg" alt=""><div class="overlay"></div></figure>
                            <div class="content">
                                <h3>Phone Case</h3>                        <span class="lumise-price">$19.99</span>                    </div>
                        </a>
                        <div class="lumise-action">
                            <a href="https://demo.lumise.com/editor.php?product=13" class="lumise-custom">
                                Customize	                </a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="container"><div class="lumise_pagination"><p>Showing 1 to 8 of 12 entries</p><ul><li><span class="none"><i class="fa fa-angle-double-left"></i></span></li><li><span class="none"><i class="fa fa-angle-left"></i></span></li><li><span class="current">1</span></li><li><a href="https://demo.lumise.com/products.php?tpage=2">2</a></li><li><a href="https://demo.lumise.com/products.php?tpage=2"><i class="fa fa-angle-right"></i></a></li><li><a href="https://demo.lumise.com/products.php?tpage=2"><i class="fa fa-angle-double-right"></i></a></li></div></div>
</div>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer_content">
            <a href="https://www.lumise.com" class="footer_logo"><img src="https://www.lumise.com/assets/images/logo_white.png"></a>
            <p>
                Local: zhongguo,hunan,changsha.<br>
            </p>

        </div>
        <div class="container">
            <div class="copyright">
                <p>
                    Copyright &copy; 2018 T-shirt Creator

                </p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-111106662-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111106662-1');
</script>
</body>
</html>