<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success-T-Shirt Creator|匠心坊</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://demo.lumise.com/assets/css/bootstrap.min.css?version=1.6.4">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://demo.lumise.com/assets/css/owl.carousel.min.css?version=1.6.4">
    <link rel="stylesheet" href="https://demo.lumise.com/assets/css/owl.theme.default.min.css?version=1.6.4">
    <link rel="stylesheet" href="https://demo.lumise.com/assets/css/style.css?version=1.6.4">
    <link rel="icon" href="https://www.lumise.com/assets/images/favicon.png" sizes="80x80" />
    <script src="https://demo.lumise.com/assets/js/jquery.min.js?version=1.6.4"></script>
    <script src="https://demo.lumise.com/assets/js/owl.carousel.min.js?version=1.6.4"></script>
    <script src="https://demo.lumise.com/assets/js/jquery.validate.min.js?version=1.6.4"></script>
    <script src="https://demo.lumise.com/assets/js/main.js?version=1.6.4"></script>
    <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init','1674137849347793');fbq('track','PageView');</script>
</head>
<body>
<header class="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="T-shirt Creator">
        </a>
        <div class="menu">
            <a href="#" class="btn_menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <ul class="main-menu">
                <li><a href="/demo" >Live Demo</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/product">Products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
        <div class="overlay_menu"></div>
    </div>
</header>
<div class="container">
    <div id="confirm" class="thankyou">
        <div class="col-md-12 pt-3">
            <h3>Thank you. Your order has been received.</h3>
            <div class="lumise-order-sumary">
                <p>Order ID: <strong>#5b90c515e24db</strong></p>
                <p>Date: <strong>2018-09-06 01:11:33</strong></p>
                <p>Status: <strong>Pending</strong></p>
                <p>Total: <strong>$0.00</strong></p>
                <p class="lumise-payment-name">Payment Method: <strong>cod</strong></p>
            </div>

            <h4>Order details</h4>
            <div class="wrap-table">
                <table class="lumise-table">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Grand Total</strong></td>
                        <td>$0.00</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="mt-30"></div>
            <h4>Customer details</h4>
            <div class="wrap-table">
                <table class="lumise-table">

                    <tbody>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b485848d878c8381848585f4c5c59ad7dbd9">[email&#160;protected]</a></td>
                    </tr>
                    <tr>
                        <td><strong>Phone</strong></td>
                        <td>123456</td>
                    </tr>
                    </tbody>
                </table>
                <div class="mt-30"></div>
                <div class="lumise-billing-details">
                    <h4>Billing Address</h4>
                    <p>1 1</p>
                    <p>1</p>
                    <p>1</p>
                    <p>AR</p>
                </div>
            </div>
            <div class="mt-30"></div>
            <div class="form-actions">
                <a href="https://demo.lumise.com/" class="btn btn-large btn-primary">Continue Shopping</a>
            </div>
        </div>
    </div>

</div>
</div>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer_content">
            <a href="#" class="footer_logo"><img src="/images/logo.png"></a>
            <p>
                Local: zhongguo,hunan,changsha.<br>
            </p>

        </div>
        <div class="container">
            <div class="copyright">
                <p>
                    Copyright &copy; 2018 T-shirt Creator

                </p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-111106662-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111106662-1');
</script>
</body>
</html>